body{
  background: lightGreen;
}

#board{
  height: 500px;
  width: 500px;
  margin: 0 auto;
  background-color: lightSteelBlue;
  padding: 5px;
}

td{
  background-color: darkSlateGrey;
  border-radius: 50px;
}

a[found]{
  background-color: black;
}
