body{
  background: bisque;
}

header{
  width: 500px;
  margin: 0 auto;
  padding: 5px;
  font-family: monaco;
  font-size: 30px;
  letter-spacing: 15px;
  text-align: center;
}

#board{
  height: 500px;
  width: 500px;
  margin: 0 auto;
  background-color: mediumAquaMarine;
  padding: 5px;
}

.buttons{
  width: 500px;
  margin: 0 auto;
  padding: 5px;
}

td{
  background-color: darkSlateGrey;
  border-radius: 50px;
  display: none;
}

.endGame{
  font-family: monaco;
  font-size: 80px;
  position: absolute;
  top:0%;
  display: none;
  text-transform: uppercase;
}

button{
  font-family: monaco;
  text-transform: uppercase;
  border-radius: 50px;
  margin: 0 auto;
  background: bisque;
  display: inline;
  float:right;
}

#status{
  font-family: monaco;
  text-transform: uppercase;
  border-radius: 50px;
  margin: 0 auto;
  float:left;
}


button:focus{
  outline: 0;
}
